button {
  border-radius: 6px;
  background-color: rgb(232, 236, 240);
  color: rgb(24, 23, 23);
  margin: 4px;
  padding: 4px;
  font-style: italic;
}

button {
  border: 1px solid black;
}
button:hover {
  background-color: rgb(196, 45, 45);
  color: beige;
  transition: background-color 0.3s;
  cursor: pointer;
}
